
@model FitnessGym.Web.ViewModel.CustomerViewModel
<h1>Add New Customer</h1>

<form method="post" class="form-group" name="roleForm" asp-controller="Customer" asp-action="Create">

    @Html.HiddenFor(c => c.CustomerId)

    <label asp-for="CustomerName"></label>
    <input asp-for="CustomerName" class="form-control" />

    <label asp-for="Age"></label>
    <input asp-for="Age" class="form-control" />


    <label asp-for="Phone"></label>
    <input asp-for="Phone" type ="text"class="form-control" />


    <label asp-for="MemeberShipStartDate"></label>

    <input asp-for="MemeberShipStartDate" value="@DateTime.Now" class="form-control" />


    <label asp-for="MemeberShipEndDate"></label>
    <input asp-for="MemeberShipEndDate" value="@DateTime.Now" class="form-control" />




    <label asp-for="MemberShipType"></label>
    <select asp-for="MemberShipType" asp-items="Html.GetEnumSelectList<FitnessGym.Models.MemberShipType>()">
        <option selected="selected" value=""></option>
    </select>


    <label asp-for="HealthStatus">Health Status</label>
    <input asp-for="HealthStatus" class="form-control" />





    <label>Coach Name</label>
    @Html.DropDownListFor(model => model.CoachId,
        new SelectList(Model.Coaches, "CoachId", "CoachName"), new { @class = "form-control" })


    @Html.ValidationSummary(false, "", new { @class = "text-danger" })


    <input id="savebtn" type="submit" value="Save" class="mt-4 btn btn-dark" />

</form>